NODE_ENV=development
PORT=3000

MONGODB_URI=mongodb://localhost:27017/barter_platform

JWT_ACCESS_SECRET=asdlfkljahsfkjhkj12w9r8sdkjfhahk3
JWT_REFRESH_SECRET=s;dfhawq8w7weryidfqwrkdkfhasdhfaksjjfh
ACCESS_TOKEN_EXPIRY=15m
REFRESH_TOKEN_EXPIRY=7d

OTP_EXPIRY_MINUTES=10